/* Global Styles */
body {
    background-color: #FFF8E1; /* Beige Claro */
    font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #D32F2F; /* Rojo Cálido */
}

p, label, input, textarea, a {
    color: #424242; /* Gris Oscuro */
}

a:hover {
    color: #8BC34A; /* Verde Lima (Acento) */
}

/* Header */
.navbar {
    background-color: #D32F2F; /* Rojo Cálido */
}

.nav-link {
    color: #FFF8E1; /* Beige Claro */
}

.nav-link:hover {
    color: #FBC02D; /* Amarillo Mostaza */
}

/* Button */
.btn-primary {
    background-color: #D32F2F; /* Rojo Cálido */
    border: none;
}

.btn-primary:hover {
    background-color: #8BC34A; /* Verde Lima (Acento) */
}

.neon-text {
    color: #030303; /* Amarillo Mostaza */
   
}

/* Form Floating Labels */
.form-floating label {
    color: #030303; /* Verde Lima */
}

.form-floating .form-control {
    border: 1px solid #D32F2F; /* Rojo Cálido */
}

.form-control:focus {
    border-color: #131212; /* Amarillo Mostaza */
    box-shadow: 0 0 5px rgba(251, 192, 45, 0.5);
}

/* Parallax Section */
.parallax-section {
    position: relative;
    background-color: #FFF8E1; /* Beige Claro */
}

.parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(66, 66, 66, 0.6); /* Gris Oscuro con transparencia */
    z-index: -1;
}



/* Spinner (Loader) */
#loader {
    background-color: #FFF8E1; /* Beige Claro */
}

.spinner {
    border: 8px solid #FBC02D; /* Amarillo Mostaza */
    border-top: 8px solid #D32F2F; /* Rojo Cálido */
}

/* Ajusta el tamaño del logo */
.logo {
    width: 500px; /* Ajusta el ancho como desees */
    height: 500px; /* Mantiene la proporción */
}

.logo:hover {
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse por encima (opcional) */
    transition: transform 0.3s ease; /* Animación suave */
}




