
body {
    font-family: Arial, sans-serif;
    background-color: #FFF8E1;
    margin: 0;
    padding: 0;

}


h1 {
    text-align: center; /* Centrado del título */
    color: #333; /* Color del texto */
}

/* Header */
.navbar {
    background-color: #D32F2F; 
}

.nav-link {
    
    font-size: 1.2em; 
    font-weight: bold; 
    color: white; 
}

.nav-link:hover {
    color: #FBC02D; /* Amarillo Mostaza */
}
/* Aumenta el tamaño del logo */
.navbar-brand img {
    height: 95px; /* Ajusta la altura del logo */
    width: auto;  /* Mantiene la proporción del ancho de la imagen */
}
.navbar-nav .nav-item {
    margin-right: 20px; 
}

.faq {
    margin-top: 100px; /* Espaciado superior para la sección FAQ */
}

.faq-item {
    border-bottom: 1px solid #ccc; /* Línea separadora entre preguntas */
    padding: 10px 0; /* Espaciado vertical */
}

.faq-item:last-child {
    border-bottom: none; /* Sin línea en el último ítem */
}

.faq-question {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    color: black; /* Color azul para la pregunta */
    transition: color 0.3s; /* Transición de color */
    font-weight: bold;
}

.faq-question:hover {
    color: #8BC34A;; /* Color al pasar el mouse */
}

.faq-answer {
    display: none; /* Respuestas ocultas por defecto */
    margin-top: 10px; /* Espaciado superior para la respuesta */
    color: #555; /* Color gris para el texto de la respuesta */
}


.social-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
  }
  
  .social-sidebar a {
    margin: 10px 0;
    display: block;
    width: 50px;
    height: 50px;

    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .social-sidebar a:hover {
    transform: scale(1.1);
  }

  
  /* Tamaño de inconos */
  .social-sidebar a i {
    font-size: 29px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .whatsapp {
    background-color: #25d366;
  }
  
  .phone {
    background-color: #4CAF50;
  }



footer {
    background-color: #333; 
    text-align: center; 
    padding: 20px; 
}

.footer-container {
    max-width: 1200px; 
    margin: 0 auto; 
    display: flex; /* Flex para acomodar el contenido en filas */
    justify-content: space-between; /* Espacio entre elementos */
    align-items: flex-start; /* Alinear elementos al inicio */
}

.footer-info {
    flex: 1; /* Tomar espacio disponible */
    padding-right: 20px; /* Espacio a la derecha para separación */
}

.footer-info h2 {
    margin: 10px 0; /* Margen alrededor del título */
    color: #fff;
}

.footer-info p {
    margin: 5px 0; /* Margen alrededor de los párrafos */
    color: #FFF;
}

.footer-social {
    margin: 20px 0; /* Margen superior e inferior para el bloque de redes sociales */
    
}

.footer-social h3 {
    margin-bottom: 10px; /* Margen inferior para el encabezado de redes sociales */
    color: #FFF;
}

.footer-social a {
    display: inline-block; /* Enlaces en línea */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Sin subrayado */
    margin: 5px; /* Margen alrededor de los enlaces */
    transition: color 0.3s; /* Transición suave al cambiar el color */
}

.footer-social a:hover {
    color:  #8BC34A; /* Color al pasar el mouse */
}

.map-container {
    background-color: #8BC34A; /* Color de fondo verde */
    padding: 10px; /* Espaciado interno del contenedor del mapa */
    border-radius: 5px; /* Bordes redondeados */
    flex: 1; /* Tomar espacio disponible */
}

.map-container iframe {
    border-radius: 5px; /* Bordes redondeados para el iframe */
}

.footer-bottom {
    border-top: 1px solid #444; /* Línea superior para separar el contenido */
    padding-top: 10px; /* Espaciado superior del bloque inferior */
}

.footer-bottom p {
    margin: 0; /* Sin margen para el párrafo en el bloque inferior */
}
