
/* Header */
.navbar {
    background-color: #D32F2F; /* Rojo Cálido */
}

.nav-link {
    
    font-size: 1.2em; 
    font-weight: bold; 
    color: white; 
}

.nav-link:hover {
    color: #FBC02D; /* Amarillo Mostaza */
}
/* Aumenta el tamaño del logo */
.navbar-brand img {
    height: 80px; /* Ajusta la altura del logo */
    width: auto;  /* Mantiene la proporción del ancho de la imagen */
}
.navbar-nav .nav-item {
    margin-right: 20px; 
}


.card {
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    color: #D32F2F; /* Color Principal: Rojo Cálido */
}

.card-text {
    color: #424242; /* Color Neutro: Gris Oscuro */
}

footer a {
    color: #FBC02D; /* Color Secundario: Amarillo Mostaza */
}

footer a:hover {
    text-decoration: underline;
}
.btn-primary {
    background-color:#D32F2F; /* Rojo Cálido */
    border: none;
}